.ipynb_checkpoints
examples/simple_translation/model.npz
examples/simple_translation/output.de
examples/simple_translation/data/
examples/huggingface_translation/en_ru/model/
examples/huggingface_translation/en_ru/mosesdecoder/
examples/huggingface_translation/en_ru/marian-dev
examples/huggingface_translation/ar_ru/model/
examples/huggingface_translation/ar_ru/mosesdecoder/
examples/huggingface_translation/ar_ru/tools
examples/huggingface_translation/en_ar/model/
examples/huggingface_translation/en_ar/mosesdecoder/
examples/huggingface_translation/en_ar/tools
examples/huggingface_translation/ar_en/afa/marian-dev
examples/huggingface_translation/ar_en/afa/model/
examples/huggingface_translation/ar_en/afa/mosesdecoder/
examples/huggingface_translation/ar_en/sem/model/
examples/huggingface_translation/ar_en/sem/mosesdecoder/
examples/huggingface_translation/ar_en/sem/tools
examples/huggingface_translation/ru_ar/model/
examples/huggingface_translation/ru_ar/mosesdecoder/
examples/huggingface_translation/ru_ar/tools
examples/huggingface_translation/ru_en/model/
examples/huggingface_translation/ru_en/mosesdecoder/
examples/huggingface_translation/ru_en/tools
examples/DeepPavlov_translation/marianmt-tatoeba-enru/
examples/DeepPavlov_translation/marianmt-tatoeba-ruen/
examples/train/content/
lightning_logs/
data/
examples/web_translation/__pycache__/
examples/web_translation/venv/
examples/translation_with_fine_tune_model/Russian.csv
examples/translation_with_fine_tune_model/first-fine-tuning-model/
OpenAPI/documented_endpoints/__pycache__/
OpenAPI/documented_endpoints/translations/__pycache__/
examples/web_translation/ngrok
examples/web_translation/ngrok-stable-linux-amd64.tgz
OpenAPI/api/__pycache__/
examples/huggingface_translation/ru_ar/input.ru
examples/huggingface_translation/ru_ar/output.ar
examples/huggingface_translation/ru_en/input.ru
OpenAPI/__pycache__/
OpenAPI/api/tools/__pycache__/
OpenAPI/ngrok
OpenAPI/models/
test_dataset/__pycache__/
