.ipynb_checkpoints
examples/simple_translation/model.npz
examples/simple_translation/data/input.en
examples/simple_translation/data/input.de
examples/huggingface_translation/en_ru/data/
examples/huggingface_translation/en_ru/model/
examples/huggingface_translation/en_ru/mosesdecoder/
examples/simple_translation/output.de
examples/huggingface_translation/en_ru/marian-dev
